.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    width: 50%;
}

.CommentWrapper {
    width: 100%;
}

.NestedCommentWrapper {
    margin-left: 16px;
}
