.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;

    @media (max-width: 640px) {
        width: 90%;
    }
}

.CommentWrapper {
    width: 100%;
}

.NestedCommentWrapper {
    margin-left: 16px;
}

.ErrorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
}

.ErrorButton {
    margin-top: 16px;
}
